<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let account of accounts">
    <tr id="{{account.accountId}}">
      <td>{{account.username}}</td>
      <td>{{account.firstName}}</td>
      <td>{{account.lastName}}</td>
      <td><button *ngIf=checkAdmin(account.accountId) class="btn btn-danger" (click)="deleteUser(account.accountId)">Delete</button></td>
    </tr>
  </tbody>
</table>
