<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Maverick_OnlineGarageSale</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>corsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:4200</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET, POST, PUT, DELETE, OPTIONS, HEAD</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>corsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditCardServlet</display-name>
    <servlet-name>CreditCardServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.CreditCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardServlet</servlet-name>
    <url-pattern>/CreditCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTransactionsServlet</display-name>
    <servlet-name>GetTransactionsServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.GetTransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTransactionsServlet</servlet-name>
    <url-pattern>/GetTransactionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserServlet</display-name>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.GetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/GetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertItemServlet</display-name>
    <servlet-name>InsertItemServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.InsertItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertItemServlet</servlet-name>
    <url-pattern>/InsertItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetItemsServlet</display-name>
    <servlet-name>GetItemsServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.GetItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItemsServlet</servlet-name>
    <url-pattern>/GetItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>maverick.ogs.servlets.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetItemByIdServlet</display-name>
    <servlet-name>GetItemByIdServlet</servlet-name>
    <servlet-class>maverick.ogs.servlets.GetItemByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItemByIdServlet</servlet-name>
    <url-pattern>/GetItemByIdServlet</url-pattern>
  </servlet-mapping>
</web-app>