<div class="product-wrapper section-gap">
  <div class="container">
    <div class="card bg-light mb-4">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-lg-6">
            <h2 class="text-capitalize font-2x mb-4">Billing Details</h2>
            <form class="billing-form" action="javascript:void(0)" method="post">
              <div class="form-group row">
                <div class="col-sm-12 col-md-6 m-xs-b">
                  <label>First Name
                    <sup class="font-lg ml-1 align-bottom">*</sup>
                  </label>
                  <input type="text" class="form-control form-control-lg" placeholder="" required />
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Last Name</label>
                  <input type="text" class="form-control form-control-lg" placeholder="" required />
                </div>
              </div>
              <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control form-control-lg" placeholder="" required />
              </div>
              <div class="form-group row">
                <div class="col-sm-12 col-md-6">
                  <label>Email Address
                    <sup class="font-lg ml-1 align-bottom">*</sup>
                  </label>
                  <input type="Email" class="form-control form-control-lg" placeholder="" required />
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Phone
                    <sup class="font-lg ml-1 align-bottom">*</sup>
                  </label>
                  <input type="Tel" class="form-control form-control-lg" placeholder="" required />
                </div>
              </div>
              <div class="form-group">
                <label>Country
                  <sup class="font-lg ml-1 align-bottom">*</sup>
                </label>
                <input type="text" class="form-control form-control-lg" placeholder="" required />
              </div>
              <div class="form-group">
                <label>Address
                  <sup class="font-lg ml-1 align-bottom">*</sup>
                </label>
                <input type="text" class="form-control form-control-lg" placeholder="" required />
              </div>
              <div class="form-group row">
                <div class="col-sm-12 col-md-6">
                  <label>Town/City
                    <sup class="font-lg ml-1 align-bottom">*</sup>
                  </label>
                  <input type="text" class="form-control form-control-lg" placeholder="" required />
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>Postal Code</label>
                  <input type="text" class="form-control form-control-lg" placeholder="" required />
                </div>
              </div>
              <div class="form-group">
                <label>Order Note</label>
                <textarea class="form-control" rows="5"></textarea>
              </div>
            </form>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto">
            <h2 class="text-capitalize font-2x mb-4">Credit card details</h2>
            <div>
              <app-credit-card></app-credit-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row closed -->
    <div class="card bg-light mb-4">
      <div class="card-body">
        <h2 class="text-capitalize font-2x mb-4">Your order</h2>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <span>Product</span>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>Total</span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4">
            <ul class="m-0 list-unstyled">
              <li>{{item.itemName}} × 1</li>
              <li>Subtotal</li>
              <li>Shipping</li>
              <li>Total</li>
            </ul>
          </div>
          <div class="col-6 col-sm-6 col-md-4">
            <ul class="list-unstyled">
              <li>${{item.price}}</li>
              <li>$5</li>
              <li>Please double check your address.</li>
              <li>${{item.price + 5}}</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="check-payment">
          <div class="mb-3">
            <label class="custom-control custom-radio mb-0">
              <input class="custom-control-input" id="radio1" name="radio" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Cheque Payment</span>
            </label>
            <p class="text-muted px-4 small">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
          </div>
          <div class="mb-3">
            <label class="custom-control custom-radio mb-0">
              <input class="custom-control-input" id="radio2" name="radio" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Paypal</span>
            </label>
            <div class="px-4">
              <img src="assets/img/paypal.jpg" alt="paypal visa" class="img-fluid" width="203" height="53" />
            </div>
            <div>
              <a (click)="submitTransaction()" class="btn btn-primary px-4">Place Order</a>
            </div>
          </div>
        </div>
        <!-- check Payment -->
      </div>
    </div>
  </div>
  <!-- container closed -->
</div>
<!-- product wrapper closed -->