<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.OracleDriver
		</property>
		
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		
		<property name="hibernate.connection.url">
			<!--  jdbc:oracle:thin:@auhwang-revature.covl5kim8otr.us-east-2.rds.amazonaws.com:1521:orcl -->
			jdbc:oracle:thin:@localhost:1521:xe
		</property>
		
		<property name="hibernate.connection.username">
			<!-- auhwang -->
			local_db
		</property>
		
		<property name="hibernate.connection.password">
			<!-- sqlpassword -->
			localdb
		</property>
		
		<property name="hibernate.connection.pool_size">
			35
		</property>
		
		<property name="show_sql" >
			true
		</property>
		
		<property name="hibernate.hbm2ddl.auto">
			update
		</property>
		
		<mapping class="maverick.ogs.beans.UserAccount"/>
 		<mapping class="maverick.ogs.beans.Address"/>
		<mapping class="maverick.ogs.beans.CreditCard"/>
		<mapping class="maverick.ogs.beans.File"/>
		<mapping class="maverick.ogs.beans.Item"/>
		<mapping class="maverick.ogs.beans.Subscriptions"/>
		<mapping class="maverick.ogs.beans.Tier" />

	</session-factory>
</hibernate-configuration>