<div class="product-wrapper section-gap">
  <div class="container">
    <div class="row mb-4">
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-sm-8 col-md-8 m-md-b">
            <div class="feature-box-thumb">
              <img src="https://s3.us-east-2.amazonaws.com/ogs-bucket/{{item.itemFile.filekey}}"
                class="img-fluid card-shadow" alt="product image" width="380" height="380" />
            </div>
            <!-- feature box thumb closed -->
          </div>
          <div class="col-sm-4 col-md-4">
            <ul class="list-unstyled list-p-detail">
              <li class="mb-3">
                <a href="javascript:void(0);">
                  <img src="https://s3.us-east-2.amazonaws.com/ogs-bucket/{{item.itemFile.filekey}}"
                    class="img-fluid" alt="product image" width="100" height="100" />
                </a>
              </li>
              <li class="mb-3">
                <a href="javascript:void(0);">
                  <img src="https://s3.us-east-2.amazonaws.com/ogs-bucket/{{item.itemFile.filekey}}"
                    class="img-fluid" alt="product image" width="100" height="100" />
                </a>
              </li>
              <li class="mb-3">
                <a href="javascript:void(0);">
                  <img src="https://s3.us-east-2.amazonaws.com/ogs-bucket/{{item.itemFile.filekey}}"
                    class="img-fluid" alt="product image" width="100" height="100" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="mb-3">
          <h2 class="text-capitalize font-3x mb-3">{{item.itemName}}</h2>
          <h4 class="font-26 text-primary">${{item.price}}</h4>
        </div>
        <p>{{item.category}}</p>
        <div class="d-flex justify-content-between">
          <div class="align-content-start w-50 mr-3">
            <input class="form-control form-control-lg" placeholder="1" value="1" type="number" disabled>
          </div>
          <div class="align-content-start w-50">
            <a routerLink="/product-cart" class="btn btn-primary btn-lg btn-block">Checkout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- row closed -->
    <div class="tab-style mb-5">
      <ul class="nav nav-tabs nav-tabs-bottom mb-4">
        <li class="nav-item" aria-expanded="false">
          <a class="nav-link active" aria-expanded="true" data-toggle="tab" href="#tab-1">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-expanded="false" data-toggle="tab" href="#tab-2">Specification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-expanded="false" data-toggle="tab" href="#tab-3">Reviews</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active show" id="tab-1" aria-expanded="true">
          <p>{{item.description}}</p>
        </div>
        <div class="tab-pane fade" id="tab-2" aria-expanded="false">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, non. Sed, magnam illo alias quae labore exercitationem
            porro in dolorum laborum tenetur doloribus blanditiis reprehenderit atque voluptas, omnis fuga unde! Quam illo
            doloremque eligendi architecto voluptas ipsum natus, nesciunt fugit?
          </p>
        </div>
        <div class="tab-pane fade" id="tab-3" aria-expanded="false">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit exercitationem recusandae omnis dolorum illum.
            Officiis deleniti a illum maxime ut, odio expedita voluptatum, ab autem molestias id harum distinctio, quibusdam
            atque debitis nisi cumque incidunt!</p>
        </div>
      </div>
    </div>
    <!-- tab-style closed -->

    <div class="our-support mb-5">
      <div class="row no-gutters">
        <div class="col-sm-12 col-md-4">
          <div class="border-0 rounded-0 bg-light text-center">
            <div class="card-body p-4">
              <div class="icon mb-3">
                <span>
                  <i class="ion-ios-globe-outline font-4x"></i>
                </span>
              </div>
              <h5 class="text-capitalize mb-3">Free Delivery</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, dolore?</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="border-0 rounded-0 bg-light text-center">
            <div class="card-body p-4">
              <div class="icon mb-3">
                <span>
                  <i class="ion-ios-sync-outline font-4x"></i>
                </span>
              </div>
              <h5 class="text-capitalize mb-3">Refund &amp; Return</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, alias.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="border-0 rounded-0 bg-light text-center">
            <div class="card-body p-4">
              <div class="icon mb-3">
                <span>
                  <i class="ion-ios-chatboxes-outline font-4x"></i>
                </span>
              </div>
              <h5 class="text-capitalize mb-3">24X7 Support</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, cupiditate?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- container closed -->
</div>
<!-- product wrapper closed -->