<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Account Login</h1>
    </div>
    <div class="form-content">
      <form #loginForm="ngForm" (ngSubmit)="cLogin(acc)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required [(ngModel)]="acc.username" #username="ngModel" />
          <span class="text-danger" *ngIf="!username.valid && username.touched">Please enter a valid username!</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required [(ngModel)]="acc.password" />
        </div>
        <div class="form-group">
          <label class="form-remember">
            <input type="checkbox" />Remember Me
          </label>
          <a class="form-recovery" href="#">Forgot Password?</a>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Log In</button>
        </div>
      </form>
    </div>
  </div>
  <div class="form-panel two">
    <div class="form-header">
      <h1>Register Account</h1>
    </div>
    <div class="form-content">
      <form #registerForm="ngForm">
        <div class="form-group">
          <label for="username2">Username</label>
          <input type="text" id="username2" name="username2" required [(ngModel)]=regAcc.username/>
        </div>
        <div class="form-group">
          <label for="password2">Password</label>
          <input type="password" id="password2" name="password2" required [(ngModel)]=regAcc.password/>
        </div>

        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email2" name="email2" required [(ngModel)]=regAcc.email/>
        </div>
        <div class="form-group">
          <button type="submit" (click)="register(regAcc)" [disabled]="!registerForm.valid">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>