<div class="d-flex justify-content-center my-3">
  <div class="col-12">
    <div class="card rounded bg-light">
      <div class="card-body">
        <h3 class="text-warning mb-3">My account</h3>
      </div>
    </div>
  </div>
</div>

<div class="d-flex my-3">
  <div class="col-12">
    <div class="card rounded bg-light">
      <div class="card-body">

        <div class="row">
          <!-- First card -->
          <div class="col-xs-12 col-6">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <div class="d-flex">
                  <div class="p-2">
                    <span>Account information</span>
                  </div>
                  <div class="ml-auto p-2">
                    <fa-icon icon="pencil-alt" class="text-warning"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text text-left">
                  Username: ahwang84392
                  <br> First name: Andrew
                  <br> Last name: Hwang
                  <br> Email: hwang@email.com
                </p>
              </div>
            </div>
          </div>
          <!-- End of first card -->

          <!-- Second card -->
          <div class="col-xs-12 col-6">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <div class="d-flex">
                  <div class="p-2">
                    <span>Address</span>
                  </div>
                  <div class="ml-auto p-2">
                    <fa-icon icon="pencil-alt" class="text-warning"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text text-left">
                  6666 N Walmart St
                  <br> Arlington, TX
                  <br> 67895
                  <br> United States
                </p>
              </div>
            </div>
          </div>
          <!-- End of second card -->
        </div>
      </div>
    </div>
  </div>
</div>