<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Account Login {{account.username}} {{account.password}}</h1>
    </div>
    <div class="form-content">
      <form #loginForm="ngForm" (ngSubmit)="cLogin(acc)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required [(ngModel)]="account.username" #username="ngModel" />
          <span class="text-danger" *ngIf="!username.valid && username.touched">Please enter a username!</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required [(ngModel)]="account.password" #password="ngModel" />
          <span class="text-danger" *ngIf="!password.valid && password.touched">Please enter a password!</span>
        </div>
        <div class="form-group">
          <label class="form-remember">
            <input type="checkbox" />Remember Me
          </label>
          <a class="form-recovery" href="#">Forgot Password?</a>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Log In</button>
        </div>
      </form>
    </div>
  </div>
  <div class="form-panel two">
    <div class="form-header">
      <h1>Register Account</h1>
    </div>
    <div class="form-content">
      <form #registerForm="ngForm">
        <div class="form-group">
          <label for="usernameReg">Username</label>
          <input type="text" id="usernameReg" name="usernameReg" required [(ngModel)]=regAcc.username #usernameReg="ngModel" />
          <span class="text-danger" *ngIf="!usernameReg.valid && usernameReg.touched">Please enter a username!</span>
        </div>
        <div class="form-group">
          <label for="passwordReg">Password</label>
          <input type="password" id="passwordReg" name="passwordReg" required [(ngModel)]=regAcc.password #passwordReg="ngModel" />
          <span class="text-danger" *ngIf="!passwordReg.valid && passwordReg.touched">Please enter a password!</span>
        </div>

        <div class="form-group">
          <label for="emailReg">Email Address</label>
          <input type="email" id="emailReg" name="emailReg" required [(ngModel)]=regAcc.email #emailReg="ngModel" />
          <span class="text-danger" *ngIf="!emailReg.valid && emailReg.touched">Please enter an email!</span>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid" (click)="register(regAcc)">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>