<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top" *ngIf=nav.visible>

  <a href="#" class="navbar-brand">
    <fa-icon icon="shopping-cart" class="text-warning fa-2x"></fa-icon>
  </a>

  <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" routerLink="/item-list">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" routerLink="/item-submit">Sell Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" *ngIf="account.isAdmin" routerLink="/admin-accounts">Accounts</a>
      </li>
    </ul>
    <form class="ml-auto p-2">
      <div class="input-group ml-auto p-2">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button type="button" class="btn">
            <fa-icon icon="search" class="text-muted"></fa-icon>
          </button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" [routerLink]="" (click)="logout()" >Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!-- End of navbar -->